@media (max-width: 1326.98px) {
  .ant-menu {
    width: 180px;
    min-width: 180px;
  }
}

@media (max-width: 991.98px) {
  .ant-menu {
    width: 164px;
    min-width: 164px;
  }
}

@media (max-width: 797.98px) {
  .ant-menu {
    width: 128px;
    min-width: 128px;
  }
}

@media (max-width: 575.98px) {
  .ant-menu {
    width: 60px;
    min-width: 60px;
  }
}