.users-list {
  overflow-x: auto;
  width: 100%;

  .ant-table-cell {
    text-align: center;

    .ant-input {
      width: 124px;
    }

    .delete-btn {
      cursor: pointer;
    }
  }

  .ant-table-pagination-right {
    justify-content: center;
  }
}